{% extends 'bace.html' %}
{% load static %}
{% load ratings %}
{% load my_filters %}
{% block title %}لیست محصولات{% endblock %}
{% block content %}
    <section class="inner-page" id="products-page">
        <div class="container-fluid" id="page-hero">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 px-0">
                                <h1>فروشگاه روبیک مارکت</h1>
                                <p>هر آنچه نیاز دارید در این فروشگاه موجود است</p>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class=""><a href="{% url 'home:main' %}"> صفحه نخست /</a></li>
                                        <li class=""><a href=""> دسته بندی ها /</a></li>
                                        <li class=""><a href="{% url 'product:cat_products' name %}"> لیست محصولات </a></li>

                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="row">
                            <h4>محصولات زیر مجموعه دسته بندی <b style="color: #ffc107">{{ name }}</b></h4>
                            <div class="col-12 col-lg-3 px-3 px-lg-0">
                                <form method="get">
                                    <div class="accordion filters-container mt-3">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <button class="accordion-button py-2 px-3" type="button"
                                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                        aria-expanded="true" aria-controls="collapseTwo">
                                                    محدوده قیمت
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse show"
                                                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="row">
                                                        <div class="col-12 py-1 px-4 mt-3">
                                                            <div id="steps-slider" dir="rtl"></div>
                                                            <input id="min_price" name="min_price" type="hidden">
                                                            <input id="max_price" name="max_price" type="hidden">
                                                        </div>
                                                        <div class="col-6 text-center encode4365gbf265g43d-range mt-3">
                                                            <div>از</div>
                                                            <div id="encode4365gbf265g43d-range-from"></div>
                                                            <div>تومان</div>
                                                        </div>
                                                        <div class="col-6 text-center encode4365gbf265g43d-range mt-3">
                                                            <div>از</div>
                                                            <div id="encode4365gbf265g43d-range-to"></div>
                                                            <div>تومان</div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion filters-container mt-3">
                                        <div class="accordion-item">
                                            <div id="collapseThree" class="accordion-collapse show"
                                                 aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body pb-2">
                                                    <div class="form-group">
                                                        <input {% if request.GET.available %} checked {% endif %}
                                                                                              name="available"
                                                                                              type="checkbox"
                                                                                              id="only-available">
                                                        <label for="only-available">فقط کالاهای موجود</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="accordion-item">
                                        <div id="collapseFour" class="accordion-collapse show"
                                             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body pb-2">
                                                <div class="col-12 text-center py-2">
                                                    <button id="but_submit" type="submit" class="btn btn-warning">اعمال
                                                        فیلتر
                                                    </button>
                                                    {% if request.GET.available or request.GET|get_list:'cat' or request.GET.min_price or request.GET.max_price %}

                                                        <a href="{% url 'product:cat_products' name %}{% if request.GET.page %}?page={{ request.GET.page }}{% endif %}"
                                                           id="but_submit" type="submit" class="btn btn-danger">حذف
                                                            فیلتر</a>

                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </form>

                                <div class="accordion filters-container mt-3">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingFive">
                                            <button class="accordion-button py-2 px-3" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                                    aria-expanded="true" aria-controls="collapseFive">
                                                جدیدترین محصولات
                                            </button>
                                        </h2>
                                        <div id="collapseFive" class="accordion-collapse collapse show"
                                             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="row">
                                                    {% for product in products|order_bya:"-created_at"|slice:'3' %}
                                                        <div class="col-12 col-md-4 col-lg-12 px-0 mt-2">
                                                            <a href="product.html">
                                                                <div class="side-product">
                                                                    <div class="row pl-3">
                                                                        <div class="col-3 pl-2">
                                                                            <div class="image"
                                                                                 style="background-image: url({{ product.images.first.image.url }})"></div>
                                                                        </div>
                                                                        <div class="col-9 pr-0">
                                                                            <h2>{{ product.title }}</h2>
                                                                            <div class="row">
                                                                                <div class="col-7 pl-0">
                                                                                    {% if product.discount_percent %}
                                                                                        <span class="encode4365gbf265g43d">{{ product.Price_after_discount|price_format }}</span>
                                                                                    {% else %}
                                                                                        <span class="encode4365gbf265g43d">{{ product.price|price_format }}</span>
                                                                                    {% endif %}
                                                                                </div>
                                                                                <div class="col-5 pr-0 text-end">
                                                                                    <span class="views">{{ product.views }} بازدید</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    {% endfor %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Side Panel -->
                            </div>
                            <div class="col-12 col-lg-9 px-0 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                                <!-- Filters -->
                                <div id="order-filters">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-sm-10 my-1">
                                                <span class="d-block d-sm-inline-block">مرتب سازی بر اساس:</span>
                                                <span onclick="window.location.href = '?{{ request.GET|add_param:'sort=newest' }}'"
                                                      class="order-filter d-block d-sm-inline-block {% if request.GET.sort == 'newest' %}active{% endif %}">جدیدترین</span>
                                                <span onclick="window.location.href = '?{{ request.GET|add_param:'sort=visit' }}'"
                                                      class="order-filter d-block d-sm-inline-block {% if request.GET.sort == 'visit' %}active{% endif %}">پربازدیدترین</span>
                                                <span onclick="window.location.href = '?{{ request.GET|add_param:'sort=discounts' }}'"
                                                      class="order-filter d-block d-sm-inline-block {% if request.GET.sort == 'discounts' %}active{% endif %}">پر تخفیف ترین</span>
                                                <span onclick="window.location.href = '?{{ request.GET|add_param:'sort=Inexpensive' }}'"
                                                      class="order-filter d-block d-sm-inline-block {% if request.GET.sort == 'Inexpensive' %}active{% endif %}">ارزان‌ترین</span>
                                                {% if request.GET.sort %}
                                                    <a href="?{{ request.GET|remove_param:'sort' }}"
                                                       class="order-filter d-block d-sm-inline-block"><i
                                                            class="fas fa-times text-danger"></i>&nbspحذف فیلتر</a>
                                                {% endif %}

                                            </div>
                                            <div class="col-12 col-sm-2 pt-1 text-end">
                                                &nbsp;|&nbsp;
                                                <span>{{ products.count }} کالا</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Filters -->
                                <div class="mt-2" id="pager">
                                    <div class="container">
                                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-md-4">

                                            {% for product in product %}
                                                <div class="col">
                                                    <!-- Product Box -->
                                                    <div class="encode4326654321vfb">
                                                        <a href="{{ product.get_absolute_url }}">
                                                            <div class="image"
                                                                 style="background-image: url({{ product.images.first.image.url }})"></div>
                                                        </a>
                                                        <div class="details p-3">
                                                            <div class="category">
                                                                <a href="products.html">{{ product.category.last }}</a>
                                                                {% if product.mark %}
                                                                    &nbsp;/&nbsp;
                                                                    <a href="products.html">{{ product.mark }}</a>
                                                                {% endif %}
                                                            </div>
                                                            <a href="{{ product.get_absolute_url }}">
                                                                <h2>{{ product.title }}</h2></a>
                                                            {% if product.discount_percent %}
                                                                <div>
                                                                    <span class="discounted">{{ product.price|price_format }} تومان</span>
                                                                    <br class="d-sm-none">
                                                                    <span class="encode4365gbf265g43d">{{ product.Price_after_discount|price_format }} تومان</span>
                                                                </div>
                                                            {% else %}
                                                                <div class="encode4365gbf265g43d">{{ product.price|price_format }}
                                                                    تومان
                                                                </div>
                                                            {% endif %}
                                                            {% if product.discount_percent %}
                                                                <div class="badge span_persent fa-1x">{{ product.discount_percent }}%</div>
                                                            {% endif %}
                                                            <div class="rate">
                                                                {% ratings product read_only=True %}
                                                                <span class="encode43bf265g43d">(14 رای دهنده)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /Product Box -->
                                                </div>
                                            {% empty %}

                                                    <!-- Product Box -->


                                                        <h3 onclick="window.location.href = '{% url 'home:main' %}'" class="empty-message">محصولی </h3>
                                                        <h3 onclick="window.location.href = '{% url 'home:main' %}'" class="empty-message">وجود</h3>
                                                        <h3 onclick="window.location.href = '{% url 'home:main' %}'" class="empty-message">ندارد!</h3>



                                            {% endfor %}


                                        </div>
                                    </div>
                                </div>
                                {% if product.has_other_pages %}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div id="pagination-bg">
                                                    <div class="center">

                                                        <div class="paginationn">

                                                            {% if product.has_previous %}
                                                                <a href="?page={ product.previous_page_number }}{% if request.GET.available %}?available={{ request.GET.available }}{% endif %}{% if request.GET|get_list:'cat' %}{% for cat in request.GET|get_list:'cat' %}&cat={{ cat }}{% endfor %}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}"><i
                                                                        class="fa fa-angle-double-left"></i></a>
                                                            {% endif %}

                                                            {% for i in product.paginator.page_range %}
                                                                {% if product.number == i %}
                                                                    <a class="active" href="?page={{ i }}{% if request.GET.available %}?available={{ request.GET.available }}{% endif %}{% if request.GET|get_list:'cat' %}{% for cat in request.GET|get_list:'cat' %}&cat={{ cat }}{% endfor %}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">{{ i }}</a>
                                                                {% else %}
                                                                    <a href="?page={{ i }}{% if request.GET.available %}?available={{ request.GET.available }}{% endif %}{% if request.GET|get_list:'cat' %}{% for cat in request.GET|get_list:'cat' %}&cat={{ cat }}{% endfor %}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}">{{ i }}</a>
                                                                {% endif %}
                                                            {% endfor %}

                                                            {% if product.has_next %}
                                                                <a href="?page={{ product.next_page_number }}{% if request.GET.available %}?available={{ request.GET.available }}{% endif %}{% if request.GET|get_list:'cat' %}{% for cat in request.GET|get_list:'cat' %}&cat={{ cat }}{% endfor %}{% endif %}{% if request.GET.min_price %}&min_price={{ request.GET.min_price }}{% endif %}{% if request.GET.max_price %}&max_price={{ request.GET.max_price }}{% endif %}"><i
                                                                        class="fa fa-angle-double-right"
                                                                        aria-hidden="true"></i></a>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                {% endif %}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var min_price_t = {% if request.GET.min_price %}{{ request.GET.min_price }}{% else %} null
        {% endif %}
        var max_price_t = {% if request.GET.max_price %}{{ request.GET.max_price }}{% else %} null
        {% endif %}
    </script>

{% endblock %}