{% extends 'bace.html' %}
{% load static %}

{% block title %}ورود به سایت{% endblock %}

{% block content %}
    <section class="inner-page" id="contact-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>ورود به ناحیه کاربری</h1>
                            <p>وارد ناحیه کاربری خود در روبیک مارکت شوید.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">ورود</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-2 py-md-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-5 text-center">
                            <img src="{% static 'images/login.png' %}" alt="">
                        </div>
                        <div class="col-12 col-lg-7 pt-5 pt-md-0 align-self-center">
                            <form method="post">
                                {% csrf_token %}
                            <div class="title">وارد شوید</div>
                            <p>با وارد شدن در سایت از همه امکانات سایت بهره مند شوید.</p>

                            <div class="form-group">


                            </div>
                                {% for Form in form %}
                                        <div class="form-group">
                                            <label for="name">{{ Form.label }}</label>
                                            {{ Form }}

                                            <div style="color: red">
                                                {% if Form.errors %}
                                                    <p>{{ Form.errors }}</p>
                                                {% endif %}
                                            </div>

                                        </div>
                                    {% endfor %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">ورود</button>
                                <a href="{% url 'account:password_recovery' %}" class="btn btn-outline-success">رمز عبور خود را فراموش کرده اید ؟</a>
                            </div>
                                <a href="{% url 'account:register_user' %}" class=" btn-outline-warning">اگر هنوز ثبت نام نکردی الان وقتشه !</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}